
<ion-view>
  <ion-nav-title class = "mainTitle">
    <span class="pageTitle" >Main</span>
    <img ng-src = "img/Logo.png" class="shantLogo"/>
  </ion-nav-title>
  <ion-content class = "has-footer shantcontent">
  <div id ="allVidsDiv">
    <iframe width="702"  src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen id ="MainVideo"></iframe>
      <div id="vidsGal">
        <div class="overFlow">
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/CbW4FxVPJqA" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <div class="overFlow">
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
          <iframe width="345" height="260" src="https://www.youtube.com/embed/Bs9DHnzunVA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
  </ion-content>
  <ion-footer-bar  class="shantFooter">
    <div class="overFlow">

    </div>
  </ion-footer-bar>
</ion-view>
