@font-face{
  font-family:"segoe";
  src:url("../fonts/ufonts.com_segoe-ui-light.ttf");
}
body{
  font-family:"segoe" !important;
}
.bar{
  background-size: 100% 0px;
  height: 8vh;
}
#MainVideo{
  margin: 0 auto;
  margin-top: 5vh;
  display: block;
}
.nav-bar-block .title-right{
  margin-top: 2vh
}

ion-scroll[direction=y] {
  height: 100vh;
}
#buttonsId{
  width:100%;
}
.bar .title{
  height:80px;
}
.shantHeader
{
  background-color:#431e59;
}
.mainbutton:hover{
  color:#ffffff;
}
.ion-navicon{
  color:#ffffff;
}
.shantLogo{
  display: inline-block;
  width: 12%;
  margin-top: 1vh;
  float: right;
}
.pageTitle{
  color:#ffffff;
  line-height: 4vh;
  margin-left:5%;
  float:left;
  font-size:2vh;
}
.title.title-right.header-item{
  margin-right:2%;
  margin-left:0px;
}
.programms.item{
  border-style:none;
}
.programms a{
  text-decoration: none;
}
.programms.a:hover {
  background-color:#e3dfe5;
}
p.userName.ng-binding{
  font-family:"segoe";
  padding: 2.2vh;
}
ion-list div.list{
  padding:0px;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.menu.menu-left{
  background-color:#ffffff;
}
.right{
  float:right;
}
.left{
  float:left;
}
.shantcontent{
background-color:#51266a;
}
.shantFooter{
  background-color:#5e3676
}
.bar-footer{
  background-position: -9999px -9999px
}
.search{
  padding-left: 2.2vh;
  border: 0px solid;
  font-family:"Segoe UI Light";
}
.color{
  color:#76319c;
  font-size: 3vh !important;
}
.search::-webkit-input-placeholder {color:#76319c;}
.search::-moz-placeholder          {color:#76319c;}
.search:-moz-placeholder           {color:#76319c;}
.search:-ms-input-placeholder      {color:#76319c;}
.ion-ios-search{
margin-right: 1em;
}
.footershant
{
  color:#b8aebb;
}

