@font-face{
  font-family:"segoe";
  src:url("../fonts/ufonts.com_segoe-ui-light.ttf");
}
body{
  font-family:"segoe" !important;
}
.bar{
  background-size: 100% 0px;
  height: 8vh;
}

.nav-bar-block .title-right{
  margin-top: 2vh
}
#underCategory{
  margin-top: 2%;
  color:#431e59;
  border-style:none
}
#vidsGal{
  display: inline-block;
  float:right;
  width: 60%;
  margin-top: 10%;
}

#MainVideo{
  margin-left:3%;
  margin-top:10%;
  width:36%;
  height:55%;
}
.shantcontent{
  width:100%;
}
#allVidsDiv{
  height: 100%;
  width:100%;
}

#buttonCenter {
  font-family:"segoe";
  background:#743199;
  top: 50%;
  width:50%;
  color:white;
  margin-left: 10vh
}

ion-scroll[direction=y] {
  height: 100vh;
}
#buttonsId{
  width:100%;
}
.bar .title{
  height:8vh;
}
.shantHeader
{
  background-color:#431e59;
}
.mainbutton:hover{
  color:#ffffff;
}
.ion-navicon{
  color:#ffffff;
}
.shantLogo{
  display: inline-block;
  width: 12%;
  margin-top: 0vh;
  float: right;
}
.pageTitle{
  color:#ffffff;
  line-height: 4vh;
  margin-left:5%;
  float:left;
  font-size:2vh;
}
.title.title-right.header-item{
  margin-right:2%;
  margin-left:0px;
}
.programms.item{
  border-style:none;
}
.programms a{
  text-decoration: none;
}
.programms.a:hover {
  background-color:#e3dfe5;
}
p.userName.ng-binding{
  font-family:"segoe";
  padding: 2.2vh;
}
.programms.item{
  line-height:2.5vh;
}
ion-list div.list{
  padding:0px;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.menu.menu-left{
  background-color:#ffffff;
}
.right{
  float:right;
}
.left{
  float:left;
}
.shantcontent{
background-color:#51266a;
}
.shantFooter{
  background-color:#5e3676
}
.bar-footer{
  background-position: -9999px -9999px
}
.search{
  padding-left: 2.2vh;
  border: 0px solid;
  font-family:"Segoe UI Light";
}
.color{
  color:#76319c;
  font-size: 3vh !important;
}
.overFlow{
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
}
.search::-webkit-input-placeholder {color:#76319c;}
.search::-moz-placeholder          {color:#76319c;}
.search:-moz-placeholder           {color:#76319c;}
.search:-ms-input-placeholder      {color:#76319c;}
.ion-ios-search{
  margin-right: 1em;
}
.footershant
{
  color:#b8aebb;
}
.inline-item{
  background: #51266a;
  border: none;
  display: inline-block;
}
